<a href="https://colab.research.google.com/github/harini1703/R-programming-Lab-Exercise/blob/main/Miscellaneous_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%load_ext rpy2.ipython

Peforming miscellaneous operation that's %in% Operator 
 
  1.This operator checks the whether the values is present in list ,if its present it return Boolean TRUE VALUE

In [2]:
%%R
list1<-c(0.1,TRUE,8)
list2<-c(0.2,FALSE,9+6i)
print(list1%in%list2)

[1] FALSE FALSE FALSE

In [3]:
%%R
list1<-c(0.1,TRUE,8)
list2<-c(0.1,FALSE,9+6i)
print(list1%in%list2)

[1]  TRUE FALSE FALSE

COLON OPERATOR:

  1.Its prints the list of elements

In [4]:
%%R
print(1:10)

 [1]  1  2  3  4  5  6  7  8  9 10

In [5]:
%%R
print(20:100)

 [1]  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38
[20]  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57
[39]  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76
[58]  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95
[77]  96  97  98  99 100